@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #5e1f13;
  --accent-color: #c6453e;
  --secondary-color: #664c47;
  --tertiary-color: #ffffff;
  --border-radius: 20px;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0.5, 0.5);
  --font-family: "Montserrat", sans-serif;
  --padding: 10px;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;


}

.faq-div {
  position: fixed;
  width: 120px;
  aspect-ratio: 1;
  right: 100px;
  bottom: 20px;
  z-index: 15;
  border-radius: 50%;
  /* overflow: hidden; */

}

.faq-cup {
  width: 100%;
  aspect-ratio: 1;
  position: relative;


}


.faq-cup:hover .cup {
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
  translate: 0 -120px;
}



.faq-cup:hover .faq-vapour {
  opacity: 1;
  visibility: visible;
  animation-delay: 0s;
  animation-play-state: running;
  transition-delay: 0.6s;
  /* Matches the cup's transition time */
}

.faq-vapour {
  width: 300px;
  
  top: -50px;
  right: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: small;
  position: absolute;
  background-color: var(--tertiary-color);
  border: #5e1f13 1px solid;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  opacity: 0;
  visibility: hidden;
  animation: vapours 10s linear infinite;
  animation-play-state: paused;
  transition: opacity 0.3s ease;

}


img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* -----------------------------------navbar -------------------------------------------------------------------- */
.imgwrap {
  height: 100%;
  width: 125px;
}

navbar {
  display: flex;
  padding: 1px 0px;
  height: 55px;
  width: max-width(100%);
  flex-direction: row;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
}

ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

li a {
  text-decoration: none;
  float: left;
  padding: 10px;
  color: #5e1f13;
  font-size: small;
  font-family: montserrat;
  font-weight: bold;
}

a:hover {
  color: var(--accent-color);
}

.login-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button {
  border: 10px --main-color;
  width: 100px;
  color: var(--main-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--tertiary-color);
  font-weight: bold;
}

/* --------------------------------now for container after navbar------------------------------------------- */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
  width: 100%;
  backdrop-filter: blur(10px);
  /* background-color: rgba(128, 128, 128, 0.062) */
  background-color: #5e1f13;
}

.blurry {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.466);
}

.text-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: var(--padding);
  position: relative;
  color: var(--tertiary-color);
  font-family: --;
  gap: 5px;
}

.text-container p {
  font-size: small;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--tertiary-color);
}

.text-img {
  position: absolute;
  width: 20%;

  aspect-ratio: 1;
  object-fit: contain;
  left: 0px;
  bottom: -8rem;
}

.img-container {
  width: 40%;
  aspect-ratio: 1;
  object-fit: contain;
  z-index: 1;
}

span {
  color: #c6453e;
}

/* ----------------------------------------for products -------------------------------------------------------- */
.heading {
  margin: 30px 0px;
  color: var(--main-color);
}

.section {
  width: auto;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--main-color);
}

.card-product {
  /* border: #5E1F13 solid 1px; */
  width: 15rem;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.card-img {
  width: 150px;
  top: -100px;
  right: -50px;
  object-fit: contain;
  position: absolute;
}

.card-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  gap: 8px;
  margin: 5px;
}

.card-text p {
  font-size: small;
}

.product-button {
  width: 100%;
}

/* --------------------------------icecream--------------------------------------------- */

#heading2 {
  scroll-margin-top: 20vh;
  /* <--- THIS is the trick */
}

.dessert {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: var(--padding);
}

.ice-card {
  height: 8rem;
  display: flex;
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  position: relative;
  border-radius: 15px;
}

.ice-imgContainer {
  width: 40%;
  aspect-ratio: 1;

  position: absolute;
  top: 50;
  bottom: 0;
  transform: rotate(340deg);
  left: -50px;

}

.ice-img {
  object-fit: contain;
}

.ice-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 5px;
}

.ice-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.ice-text p {
  font-size: small;
}

.ice- text h1,
h3 {
  color: var(--main-color);
  font-size: small;
}

.ice-button {
  margin: 5px 0px;
  padding: 0;
  width: 50%;
  float: left;
  height: 25px;
}

.ice-left-section {
  width: 40%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.ice-right-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: var(--padding);
}

/* -------------------------------------------for drinks--------------------------------------------- */

.drinkcards-container {
  width: 100%;
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  padding: 0 3rem;
  grid-auto-flow: row;
  place-items: center;
  gap: 20px;
  /* optional: spacing between items */
  row-gap: 70px;
  padding: var(--padding);
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
  overflow: hidden;

  box-shadow: var(--box-shadow);

}

.drink-card {
  width: 400px;
  height: 7rem;
  display: flex;
  box-shadow: var(--box-shadow);
  padding: 5px;
  border-radius: 15px;
}

.drink-imgContainer {
  position: relative;
  width: 10rem;
  height: 7rem;
}

.drink-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-right: 5px;

}

.drink-img {
  width: 80%;
  height: auto;
  position: absolute;
  top: -50px;
  left: 10px;
  transform: rotate(30deg);

}

.drink-img-notra-spec {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50px;
  left: 10px;
  transform: rotate(5deg);
}

.drink-img-notra {
  width: 60%;
  height: auto;
  position: absolute;
  top: -50px;
  left: 10px;
  transform: rotate(5deg);
}

.drink-button {
  margin: 5px 0px;
  padding: 0;
  width: 50%;
  float: left;
  height: 25px;
}

/* --------------------------------------------services--------------------------------------------- */
.service-container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: var(--main-color); */
}

.service-section {
  width: 70%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.service-section-oppo {
  width: 70%;
  height: 300px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  .service-content {
    border-left: none;
    border-right: #5e1f13 solid 4px;
    text-align: end;
    padding-right: 10px;
  }

}

.service-img {
  width: 50%;
  aspect-ratio: 2;
}

.service-content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: #5e1f13 solid 4px;
  padding-left: 10px;


}
/* ---------------------------------------------------------about--------------------------------------------- */ 
.aboutsection{
  width: 100%;

  flex-direction: column;
position: relative;
  padding: var(--padding)*2;
}
.about-container-top{
  width: 100%;
  height: 40vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50 50px;
  position:relative ;
  margin-bottom: 150px;
}
.about-container-top-top{
width: 50%;
text-align: center;
color:var(--tertiary-color)
}
.about-container-top-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top:80%;
 display: flex;
  justify-content: center;
  gap:30px;
}
.about-img{
width: 300px;

box-shadow: var(--box-shadow);
 height: 200px;
 border-radius: 10px;
 overflow: hidden;


 

}
.aboutimage{
 
  
    
    object-fit: cover;
  
}
.about-content{
  width: 100%;
  padding: var(--padding);
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding:  50px 50px;

  gap: 20px;
}

.about-content-flex{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 50px;
}
.about-video{
  height:40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.about-content-flex p{
  align-self: center;
}
/* -------------------------------------------------about end ----------------------------- */
/* ----------------------------------------------------gallery section----------------------------- */

.gallery-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.gallery-container
{
  width: 100%;
  padding: var(--padding);
  display: flex;
  
overflow-x: scroll;
  /* align-items: center; */
  /* justify-content: center;   */

  gap: 30px;
  background-color: var(--main-color);

}
.gallery-container::-webkit-scrollbar {
  display: none;
}
.gallery-frame{
  flex: 0 0 auto;
   /* 👈 KEY: Prevent shrinking */
  width: 300px;   /* 👈 Make sure this is not too small */
  height: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: 50px;
  border: var(--main-color) solid 2px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background-color: var(--tertiary-color);
}
.gallery-img{
  width: 100%;
  height: 70%;
  aspect-ratio: 1;
  background-color: red;


}
.gallery-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-frame-text{
  width: 100%;
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

}
/* .gall
ery-container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: var(--padding);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.gallery-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */



/* ----------------------------------------footer-------------------------------------------- */
footer {
  width: 100%;

  background-color: var(--main-color);

  padding: var(--padding)
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.footer-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}